@import "fonts.css";
html{
	color:#000;
	font-family:"Open Sans";
	background-color: #EDECDD;
}

ul,
li{
	display: block;
	padding: 0;
	margin: 0;
}

.header-menu {
	color: #000;
	padding: 20px 0;
	background-color: #fff;
}

.menu__item {
	margin-left: 38px;
}
.menu__item a {
	font-family:"Open Sans Semibold";
	font-size: 20px;
	color: #000;
	text-decoration: none;
}

.menu__item a:hover {
	color: #15bdac;
	transition: 0.3s;
}

.header  {
	background-image: url(../images/bak1.png);
	background-size: cover; /*масштаб с сохранением пропорций*/
	background-position: center;
	padding: 180px 0;
	text-align: center;
	color: #000;
}

.header__title {
	font-size: 60px; 
}

.header__text{
	font-family:"Open Sans Regular";
	font-size: 22px;
	margin-bottom: 90px; 
}

.button {
	padding: 10px 25px;
	margin: 0 10px;
	color: #fff;
	transition: 0.3s;
	text-transform: uppercase;
	font-weight: bold;
}

.button_full {
	background: #1c7067;
	border: 1.3px solid #1c7067;
}

.button_full:hover {
	background-color: #B2A893;
	border: 1.3px solid #B2A893;
	color: #000;
}

/*about*/

.about {
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
}

.main__title{
	font-size: 30px;
	font-weight: bold;
}

.main__text{
	font-size: 15px;
	margin-bottom: 60px;
	margin-top: 20px;
}

.main_h3 {
	font-family:"Open Sans Semibold";
	font-size: 20px;
	padding-top: 20px;
}

/*services*/

.services {
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
	background-color: #D0C49E;
}

.button_full-white {
	background: transparent;
	border: 1.3px solid #000;
	padding: 10px 12px 10px;
	color: #000;
}

.our_card{
	margin-bottom: 35px;
	background: #EDECDD;
	padding-top: 50px;
	padding-bottom: 40px;
	padding-left: 20px;
	padding-right: 20px;
	box-shadow: 10px 10px 15px 0px rgba(0,0,0,0.1)
}

.our_card:hover{
	color: #fff;
	background: #1c7067;
	transition: 0.4s;
}

.our_card:hover .button_full-white {
	border: 1.3px solid #fff;
	color: #fff;
}

.our_card:hover .button_full-white:hover {
	background: #fff;
	transition: 0.4s;
	color: #000;
	border: 1.3px solid #fff;
	box-shadow: 10px 10px 45px -10px rgba(255,255,255,0.71);
}

/*portfolio */

.portfolio {
	padding-top: 50px;
	padding-bottom: 60px;
	text-align: center;
	background-color: #fff;
}

.portfolio button:hover {
	background: transparent;
	color:#000;
	border: 1.3px solid #1c7067;
}

.portfolio img {
	margin-bottom: 30px;

}

.filter {
	padding: 60px 0;

}